{% extends "boilerplate.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<h1 class="text-center text-success mt-5 pt-3">This TextUtils web application is usefull for everybody.</h1>
<p class="text-center font-monospace pt-1 text-danger">To use this application go to the 'Utility' page through navbar.</p>
<br>
<br>
<br>
<h4 class="text-center text-alert text-decoration-underline">Some Famous quotes:</h4>
<h3 class="text-center text-primary pb-5">{{thought}}</h3>

{% endblock %}